path.link {
  fill: blue;
  //stroke: #666;
  stroke: #900;
  color : green;
  //stroke-width: 1.5px;
  stroke-width: 0.1px;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
}

